test
tags
tags.lock
tags.temp
*.log
*.out
*.o
*.a
*.so
*.gch
*.exe
*~
*.tlog
*.lastbuildstate
*.vs
*.db
*.pdb
*.ilk
*.obj
*.idb
*.enc
Way-to-Algorithm
*.pdf
.idea
*.idea
*.cmake
makefile
*.filters
*.vcxproj
*.sln
CMakeFiles
*.stamp
*.depend
CMakeCache.txt
cmake-build-debug
*.pyc
*.cbp

node_modules
_book
package-lock.json
.DS_Store
*.DS_Store
_DS_Store
*DS_Store
*/.DS_Store
Thumbs.db

Makefile
cmake_install.cmake
CMakeCache.txt

*.idea
.idea
*.svn
.svn
tags
.ycm_extra_conf.py
*.pyc
cscope.out
ncscope.out
cscope.in.out
cscope.po.out
cscope.files
cmake-build-debug
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
.DS_Store
*/.DS_Store
*.slo
*.lo
*.o
*.obj
*.pro.user
*.so
*.a
*.dylib
*.dll
*.swp
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.xcuserdata
package.json
package-lock.json
