test
tags
tags.lock
tags.temp
*.log
*.out
*.o
*.a
*.so
*.gch
*.exe
*~
*.tlog
*.lastbuildstate
*.vs
*.db
*.pdb
*.ilk
*.obj
*.idb
*.enc
Way-to-Algorithm
*.pdf
.idea
*.idea
*.cmake
makefile
*.filters
*.vcxproj
*.sln
CMakeFiles
*.stamp
*.depend
CMakeCache.txt
cmake-build-debug
*.pyc
*.cbp

