
h1 {
    text-align: center;
    font-family: Cambria,Calibri,"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 34px;
}

h2 {
    text-align: center;
    font-family: Cambria,Calibri,"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 30px;
}

h3 {
    text-align: left;
    font-family: Cambria,Calibri,"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 26px;
}

h4 {
    text-align: left;
    font-family: Cambria,Calibri,"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 24px;
}


body {
    font-family: Cambria,Calibri,"Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    font-size: 20px;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 600px;
    max-width: 1024px;
}
